<form class="profile__user" id="changePasswordForm">
  <div class="user__row">
    <div class="user__title">Старый пароль</div>
    <div class="user__subtitle">
      <input
        class="user__input"
        type="password"
        name="oldPassword"
      />
    </div>
  </div>
  <div class="user__row">
    <div class="user__title">Новый пароль</div>
    <div class="user__subtitle">
      <input
        class="user__input"
        type="password"
        name="newPassword"
      />
    </div>
  </div>
  <div class="user__row">
    <div class="user__title">Повторите новый пароль</div>
    <div class="user__subtitle">
      <input
        class="user__input"
        type="password"
        name="newPasswordRepeat"
      />
    </div>
  </div>
</form>

<div class="profile__links">
  <div class="link__item">
    {{> Button
      type="button"
      label="Сохранить"
      buttonType="w-full"
      id="changePasswordSave"
    }}
  </div>
  <div class="link__item">
    {{> Button
      type="button"
      label="Отменить"
      buttonType="button_link w-full red"
      id="changePasswordCancel"
    }}
  </div>
</div>
