

<div class="container profile__container">
  <div class="profile__logo">

  </div>

  <div class="profile__dynamic-wrapper"></div>
</div>

<dialog
  class="profile__dialog"
  open
>

  <div class="profile__dialog__container">
    <div class="profile__dialog__wrapper">
      <div>
        <h1>asdasd</h1>
        <h2>asdasdasd</h2>
      </div>
      <div>
        <h1>asdasdasd</h1>
        <h2>asdasdasdasd</h2>
      </div>
      <div>
        <h1>asdasd</h1>
        <h2>asdasdasd</h2>
      </div>
    </div>
  </div>
</dialog>
